.odd {
    background-color: #FFA7A6;
    font-family: Verdana, "DejaVu Sans", sans-serif;
}

.odd.big{
    font-size: 24px;
}

#first{
    color: #0000F0;
    font-size: 36px;
}

#second{
    background-color:#81ff81;
    font-size: 24px;
    font-weight: bold;
}